<section class="bg-gray-100 dark:bg-gray-900">
    <div class="grid grid-cols-1 md:grid-cols-2 py-20 gap-20 w-[90%] mx-auto">
        <div class="relative h-175 md:h-auto">
            <img src="/images/about1.png" alt="about image"
                class="absolute left-0 top-0 max-w-full h-auto hover:scale-105 hover:z-10 duration-500">
            <img src="/images/about2.png"
                class="absolute -right-3 top-20 max-w-full h-auto hover:scale-105 duration-500" alt="about image">
            <img src="/images/about3.png"
                class="absolute -right-3 top-72 max-w-full h-auto hover:scale-105 duration-500" alt="about image">
        </div>
        <div>
            <app-section-name [sectionName]="'home.aboutSection.name' | translate"
                [sectionTitle]="'home.aboutSection.title' | translate" [centerAlignment]="false">
            </app-section-name>

            <h3
                class="title-background relative z-10 font-Baloo-Thambi-2 font-bold text-4xl text-gray-900 dark:text-gray-100 uppercase">
                {{ 'home.aboutSection.headingPart1' | translate }}
                <span class="text-main">{{ 'home.aboutSection.headingPart2' | translate }}</span>
                {{ 'home.aboutSection.headingPart3' | translate }}
            </h3>

            <p class="mt-6 text-lg font-Rubik text-gray-700 dark:text-gray-300">
                {{ 'home.aboutSection.description' | translate }}
            </p>

            <div class="grid grid-cols-2 mt-8 ">
                @for (goal of goals; track $index) {
                <div class="group/goal border-[#24242424] py-8 " [class.border-b]="$index === 0 || $index === 1">
                    <div class="flex items-center gap-4">
                        <img [src]="goal.img" class="group-hover/goal:rotate-45 duration-500" alt="goal icon">
                        <h4 class="font-Baloo-Thambi-2 font-bold text-gray-900 dark:text-gray-100">
                            {{goal.title | translate}}
                        </h4>
                    </div>
                    <p class="mt-4 pe-1 font-Baloo-Thambi-2  text-gray-900 dark:text-gray-100">{{goal.description |
                        translate}}</p>
                </div>

                }
            </div>
            <div class="relative w-fit">
                <app-action-button 
                    [text]="'home.heroSection.getStarted' | translate" 
                    [variant]="'filled'">
                </app-action-button>
            </div>
        </div>
    </div>
</section>