<div class="text-gray-900 dark:text-white capitalize py-2 bg-gray-100 dark:bg-gray-900 rounded-xl">
                    <h3 class="font-Baloo-Thambi-2 text-5xl font-extrabold ">{{question()}}</h3>
                <h4 class="text-2xl">this helps us create Your personalized plan</h4>
                <div class="flex flex-col gap-4 mt-2 items-center justify-center py-6">
                    @for (answer of answers(); track $index) {
                           <div class="flex items-center gap-4 w-77.75 h-12 px-4 rounded-full border bg-[#D3D3D333]"
                            [class]="answer == checkedAnswer ?'text-main border-main':'border-gray-300 text-gray-900'">
                        <label class="w-full text-start" [for]="'q'+$index">{{answer}}</label>
                        <input [(ngModel)]="checkedAnswer" class=" accent-main" type="radio" [id]="'q'+$index" name="plan" [value]="answer">
                    </div>
                    }
                   
                </div>
                <app-button  label="save" alignment="center" (click)="onClick()"></app-button>    
                </div>
