<section class="relative flex min-h-screen bg-[url(/icons/auth-background.png)] bg-cover bg-center bg-no-repeat">
    
    <div class="absolute inset-0 bg-[#FFFFFF99] dark:bg-[#24242499] backdrop-blur-[20px]"></div>
    
    <div class="relative flex z-10 w-full">
        <div class="hidden lg:block lg:w-1/2 border-r-2 border-solid border-r-[#FF410033]">
            <app-auth-side-panel></app-auth-side-panel>
        </div>
        
        <div class="w-full lg:w-1/2 flex flex-col justify-center items-center">
            
            <button (click)="toggleTheme()" class="self-end mt-4 me-4">
                <i class="pi text-3xl! cursor-pointer hover:text-orange-500 duration-300" 
                [class]="{'pi-moon' : _themeService.theme()==='dark',
                'pi-sun' : _themeService.theme()==='light'}"></i>
            </button>
    
            <div class="h-full flex justify-center items-center ">
                <router-outlet></router-outlet>
                <!-- Register , Login , Forgot Password -->
            </div>
        </div>
    </div>
    
</section>