<section class="bg-[url(/images/workout-background.jpg)] bg-cover bg-center relative px-21.5">
    <div class="relative z-2">
        <app-section-name 
            [sectionName]="'home.workoutsSection.name' | translate" 
            [sectionTitle]="'home.workoutsSection.title' | translate"
            [centerAlignment]="true">
        </app-section-name>
    </div>
    
    <div class="bg-[#a5a5a5] dark:bg-gray-900 w-full h-70 absolute top-17 left-0 right-0 z-1"></div>
    
    <div class="relative z-1">
        <h3 class="text-center font-Baloo-Thambi-2 font-bold text-4xl text-gray-900 dark:text-gray-100 mb-8">
            {{ 'home.workoutsSection.headingPart1' | translate }} <br>
            {{ 'home.workoutsSection.headingPart2' | translate }} 
            <span class="text-main">{{ 'home.workoutsSection.headingPart3' | translate }}</span>
        </h3>

        <app-carousel [rowsPerColumn]="1" [carouselItems]="workouts()"></app-carousel> 
    </div>
</section>