<section class="dark:text-white text-gray-900 font-Baloo-Thambi-2">
    <div class="flex gap-20 justify-center items-center">
        <div class="text-center">
            <h2 class="capitalize font-extrabold text-5xl ">Your Goal</h2>
            <span class="cursor-pointer underline uppercase text-2xl hover:text-main duration-300">tap to change</span>
            <app-button label="lose weight" iconPos="right" icon="fa-solid fa-arrows-spin"></app-button>
        </div>
    </div>
    <div></div>
</section>