:host {
    display: block;

    ::ng-deep {
        .p-carousel-prev, .p-carousel-next {
            background: rgba(0, 0, 0, 0.05);
            color: #333;
            border: 1px solid rgba(0, 0, 0, 0.1);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: all 0.3s ease;
            margin: 0 5px;

            :host-context(.dark) & {
                background: rgba(0, 0, 0, 0.4);
                color: white;
                border: 1px solid rgba(255, 255, 255, 0.1);
            }

            &:hover {
                background: var(--color-main);
                border-color: var(--color-main);
                color: white;
            }

            &:disabled {
                opacity: 0.3;
                cursor: not-allowed;
            }
        }

        .p-carousel-content {
            padding: 0 10px;
        }
        
        .p-carousel-container {
            align-items: center;
        }
    }
}
