<app-auth-header 
    [title]="'auth.login.headerTitle' | translate" 
    [subtitle]="'auth.login.headerSubtitle' | translate">
</app-auth-header>

<section class="border border-gray-900 dark:border-gray-200 rounded-[50px] p-10 flex flex-col justify-center items-center gap-2">
    <h1 class="font-Baloo-Thambi-2 font-extrabold text-2xl text-gray-900 dark:text-white">
        {{ 'auth.login.title' | translate }}
    </h1>

    <form class="flex flex-col justify-center items-center gap-2" [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div>
            @let emailControl = loginForm.get("email");
            <app-input 
                icontype="email" 
                formControlName="email" 
                id="email" 
                type="email" 
                [placeholder]="'auth.login.emailPlaceholder' | translate">
            </app-input>
            <app-error-message [nameControl]="emailControl"></app-error-message>
        </div>

        <div class="mt-2">
            @let passwordControl = loginForm.get("password");
            <div class="relative">
                <app-input 
                    icontype="password" 
                    formControlName="password" 
                    id="password" 
                    [type]="togglePassword() ? 'text' : 'password'"
                    [placeholder]="'auth.login.passwordPlaceholder' | translate">
                </app-input>
                
                @if (togglePassword()) {
                <span (click)="togglePasswordVisibility()" class="absolute cursor-pointer top-1/2 -translate-y-1/2 inset-e-3">
                    <i class="pi pi-eye text-gray-900! dark:text-gray-200!"></i>
                </span>
                } @else {
                <span (click)="togglePasswordVisibility()" class="absolute cursor-pointer top-1/2 -translate-y-1/2 inset-e-3">
                    <i class="pi pi-eye-slash text-gray-900! dark:text-gray-200!"></i>
                </span>
                }
            </div>
            <app-error-message [nameControl]="passwordControl"></app-error-message>
        </div>

        <a routerLink="/auth/forgot-password" class="font-Baloo-Thambi-2 font-bold text-main ms-auto underline">
            {{ 'auth.login.forgotPassword' | translate }}
        </a>

        <app-social-auth (selectProvider)="loginViaSocial($event)"></app-social-auth>

        <app-button 
            [label]="'auth.login.submitButton' | translate" 
            [loading]="loading()" 
            [parentForm]="loginForm"  
            [styleClass]="'!text-black'" 
            type="submit" 
            [disabled]="!loginForm.valid">
        </app-button>
         
        <p-toast />
    </form>

    <a routerLink="/auth/register" class="font-Baloo-Thambi-2 text-gray-900 dark:text-white m-auto">
        {{ 'auth.login.noAccountText' | translate }} 
        <span class="font-bold text-main underline">{{ 'auth.login.registerLink' | translate }}</span>
    </a>
</section>