.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.cursor-grab.active {
  cursor: grabbing;
}

.label-number {
  transition: font-size 0.15s ease-out, color 0.15s ease-out;
}

.ruler-item {
  transition: opacity 0.15s ease-out;
}