<section class="relative">
    <div class="lg:flex justify-center items-center">
        <div class="w-full lg:w-3/5 flex flex-col justify-center py-2 gap-4 lg:gap-16">
            <h1 class="font-Baloo-Thambi-2 text-2xl lg:text-6xl text-black dark:text-white font-bold uppercase leading-tight">
                <span class="block lg:inline">Your body can </span>
                <span class="text-main block lg:inline">Stand Almost </span>
                <span class="block lg:inline">Anything</span>
            </h1>

            <div class="border-l-4 border-main pl-6 max-w-lg text-lg text-black dark:text-white font-Rubik font-normal">
                It's your mind that needs convincing. Push past your limits, stay 
                committed, and watch as your body transform into powerhouse of 
                strength and resilience. Start your journey today & truly capable of!
            </div>

            <div class="flex flex-col lg:flex-row gap-8">
                <div class="stat-item">
                    <h3 class="text-2xl font-bold font-inter">1200+</h3>
                    <p class="text-lg font-normal font-Rubik capitalize">Active Members</p>
                </div>
                <div class="stat-item">
                    <h3 class="text-2xl font-bold font-inter">12+</h3>
                    <p class="text-lg font-normal font-Rubik capitalize">Certified Trainers</p>
                </div>
                <div class="stat-item">
                    <h3 class="text-2xl font-bold font-inter">20+</h3>
                    <p class="text-lg font-normal font-Rubik capitalize">Years Of Experience</p>
                </div>
            </div>
    
            <div class="flex justify-center lg:justify-start items-center gap-8">
                <a class="flex justify-center items-center group cursor-pointer">
                    <button
                    class="bg-main w-[133px] h-[50px] lg:w-[151px] lg:h-[50px] cursor-pointer text-sm lg:text-16px text-white rounded-[100px] font-Rubik font-semibold uppercase transition-all duration-200 hover:bg-main-hover"
                    >
                    Get Started
                    </button>
                    <div
                    class="bg-main w-9 h-9 border-2 border-white -translate-x-3 rounded-full flex justify-center items-center group-hover:rotate-45 transition-transform"
                    >
                    <img src="/icons/whiteArrow.png" alt="Arrow" class="w-4 h-4" />
                    </div>
                </a>
        
                <a class="flex justify-center items-center group cursor-pointer">
                    <button
                    class="border w-[133px] h-[50px] lg:w-[163px] lg:h-[50px] cursor-pointer text-sm lg:text-16px border-main text-main rounded-[100px] font-Rubik font-semibold uppercase transition-all duration-200 hover:bg-main hover:text-white"
                    >
                    Explore More
                    </button>
                    <div
                    class="bg-main w-9 h-9 border-2 border-white -translate-x-3 rounded-full flex justify-center items-center group-hover:rotate-45 transition-transform"
                    >
                    <img src="/icons/whiteArrow.png" alt="Arrow" class="w-4 h-4" />
                    </div>
                </a>
            </div>
        </div>
        
        <div class="w-full mt-8 lg:w-2/5 h-full flex justify-center items-center lg:justify-end lg:items-end overflow-hidden pointer-events-none">
            <img ngSrc="/images/hero-model.png" alt="Fitness Model" width="467" height="719" priority class="opacity-90 w-[343px] lg:w-[467px] h-auto object-contain" />
        </div>
    </div>
</section>