<section class="relative">
    <div class="lg:flex justify-center items-center pt-28">
        <div class="w-full lg:w-3/5 flex flex-col justify-center py-2 gap-4 lg:gap-16">
            <h1 class="font-Baloo-Thambi-2 text-2xl lg:text-6xl text-black dark:text-white font-bold uppercase leading-tight">
                <span class="block lg:inline">{{"home.heroSection.yourbodycan" | translate}} </span>
                <span class="text-main block lg:inline">{{"home.heroSection.standAlmost" |translate}}</span>
                <span class="block lg:inline">{{"home.heroSection.anything" |translate}}</span>
            </h1>

            <div class="border-l-4 border-main pl-6 max-w-lg text-lg text-black dark:text-white font-Rubik font-normal">
               {{"home.heroSection.heroPragraph"|translate}}
            </div>

            <div class="flex flex-col lg:flex-row gap-8">
                <div class="stat-item">
                    <h3 class="text-2xl font-bold font-inter">1200+</h3>
                    <p class="text-lg font-normal font-Rubik capitalize">{{"home.heroSection.activeMembers" |translate}}</p>
                </div>
                <div class="stat-item">
                    <h3 class="text-2xl font-bold font-inter">12+</h3>
                    <p class="text-lg font-normal font-Rubik capitalize">{{"home.heroSection.certifiedTrainers" |translate}}</p>
                </div>
                <div class="stat-item">
                    <h3 class="text-2xl font-bold font-inter">20+</h3>
                    <p class="text-lg font-normal font-Rubik capitalize">{{"home.heroSection.yearsOfExperience" |translate}}</p>
                </div>
            </div>
    
            <div class="flex justify-center lg:justify-start items-center gap-8">
                <app-action-button [text]="'home.heroSection.getStarted' | translate" [variant]="'filled'"></app-action-button>
                <app-action-button [text]="'home.heroSection.exploreMore' | translate" [variant]="'outline'"></app-action-button>
            </div>
        </div>
        
        <div class="w-full mt-8 lg:w-2/5 h-full flex justify-center items-center lg:justify-end lg:items-end overflow-hidden pointer-events-none">
            <img ngSrc="/images/hero-model.png" alt="Fitness Model" width="467" height="719" priority class="opacity-90 w-[343px] lg:w-[467px] h-auto object-contain" />
        </div>
    </div>
</section>