<div class="header relative bg-[url(/icons/auth-background.png)] bg-cover bg-center bg-no-repeat">
    <div class="absolute inset-0 bg-[#FFFFFF99] dark:bg-[#24242499] backdrop-blur-[20px]"></div>
    <div class="relative z-10 w-[90%] mx-auto">    
        <app-hero-section></app-hero-section>
    </div>
</div>
<app-service-bar></app-service-bar>
<app-about></app-about>
<app-why-us></app-why-us>
<app-service-bar></app-service-bar>
<app-explore-card title="test" image="/images/1.png" link=""></app-explore-card>
