<button
    [disabled]="disabled() || parentForm()?.invalid || loading()"
    [type]="type()"
    [ngClass]="styleClass()"
    class="bg-main hover:bg-main-hover active:scale-[0.98] transition-all duration-200 disabled:bg-gray-300 disabled:opacity-70 disabled:cursor-not-allowed flex justify-center items-center gap-2  cursor-pointer rounded-[20px] py-2 px-4 w-[311px] h-[38px] text-white font-Baloo-Thambi-2 font-extrabold text-16px capitalize"
    >
    @if(loading()){
        <i class="pi pi-spin pi-spinner-dotted"></i> {{label()}}
    }
    @else {
        {{label()}}
    }
</button>