<section class="dark:text-white text-gray-900 font-Baloo-Thambi-2 leading-[140%] pt-28 relative bg-[url(/icons/auth-background.png)] bg-cover bg-center bg-no-repeat">
    <div class="absolute inset-0 bg-[#FFFFFF99] dark:bg-[#24242499] backdrop-blur-[20px] z-0"></div>
    
    <div class="relative flex flex-col gap-10 justify-center items-center text-center">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-10 md:gap-20 mt-10">
            <app-profile-card (questionAnswered)="getUserInfo()" cardTitle="your goal" [userInfoResponse]="userProfileData().goal"></app-profile-card>
            <app-profile-card (questionAnswered)="getUserInfo()" cardTitle="level" [userInfoResponse]="activityLevel()"></app-profile-card>
            <app-profile-card (questionAnswered)="getUserInfo()" cardTitle="weight" [userInfoResponse]="userProfileData().weight + ' kg'"></app-profile-card>
            
        </div>
        <div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 justify-items-center mb-10">
                <app-settings-card settingsType="change password" icon="pi-sync">change password</app-settings-card>
                <app-settings-card settingsType="select language" icon="pi-globe"><span>select language <br>( <span class="text-main">english</span>)</span></app-settings-card>
                <app-settings-card [icon]="currentMode() === 'dark' ? 'pi-moon' : 'pi-sun'">
                    <div>mood ( <span class="text-main">{{currentMode()}}</span> ) <br>
                     <p-toggleswitch (onChange)="toggleTheme()" [(ngModel)]="checked" />
                    </div></app-settings-card>
              
            </div>
            <app-settings-card settingsType="logout" icon="pi-sign-out"><span class="text-main">logout</span></app-settings-card>
        </div>
    </div>

</section>
