<section class="dark:text-white text-gray-900 font-Baloo-Thambi-2 leading-[140%] pt-28 relative bg-[url(/icons/auth-background.png)] bg-cover bg-center bg-no-repeat">
    <div class="absolute inset-0 bg-[#FFFFFF99] dark:bg-[#24242499] backdrop-blur-[20px] z-0"></div>
    
    <div class="relative flex flex-col gap-10 justify-center items-center text-center">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-10 md:gap-20 mt-10">
            <app-profile-card (questionAnswered)="getUserInfo()" cardTitle="your goal" [userInfoResponse]="userProfileData().goal"></app-profile-card>
            <app-profile-card (questionAnswered)="getUserInfo()" cardTitle="level" [userInfoResponse]="'profile.answers.levels.' + activityLevel() | translate"></app-profile-card>
            <app-profile-card (questionAnswered)="getUserInfo()" cardTitle="weight" [userInfoResponse]="userProfileData().weight + ' kg'"></app-profile-card>
            
        </div>
        <div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 justify-items-center mb-10">
                <app-settings-card settingsType="change password" icon="pi-sync">{{"profile.settings.changePassword" |translate}}</app-settings-card>
                <app-settings-card settingsType="select language" icon="pi-globe"><span>{{"profile.settings.selectLanguage" |translate}}<br>( <span class="text-main">{{"profile.settings.currentLanguageName" |translate}}</span>)</span></app-settings-card>
                <app-settings-card [icon]="currentMode() === 'dark' ? 'pi-moon' : 'pi-sun'">
                    <div>{{"profile.settings.mode" |translate}} ( <span class="text-main">{{ 'profile.settings.' + currentMode() | translate }}</span> ) <br>
                     <p-toggleswitch (onChange)="toggleTheme()" [(ngModel)]="checked" />
                    </div></app-settings-card>
              
            </div>
            <app-settings-card settingsType="logout" icon="pi-sign-out"><span class="text-main">{{"profile.settings.logout" |translate}}</span></app-settings-card>
        </div>
    </div>

</section>
